VITE_API_BASE_URL=http://localhost:8000
VITE_MAPBOX_TOKEN=
VITE_MAPBOX_STYLE_LIGHT=mapbox://styles/mapbox/light-v11
VITE_MAPBOX_STYLE_DARK=mapbox://styles/mapbox/dark-v11
VITE_ENVIRONMENT=development
