# Managed by Ansible (langfuse role). Mode 0600, owner {{ deploy_user }}.
POSTGRES_PASSWORD={{ langfuse_postgres_password }}
LANGFUSE_SALT={{ langfuse_salt }}
LANGFUSE_ENCRYPTION_KEY={{ langfuse_encryption_key }}
LANGFUSE_NEXTAUTH_SECRET={{ langfuse_nextauth_secret }}
CLICKHOUSE_PASSWORD={{ clickhouse_password }}
MINIO_ROOT_USER={{ minio_root_user }}
MINIO_ROOT_PASSWORD={{ minio_root_password }}
LANGFUSE_INIT_ORG_ID={{ langfuse_init_org_id }}
LANGFUSE_INIT_PROJECT_ID={{ langfuse_init_project_id }}
LANGFUSE_INIT_PROJECT_PUBLIC_KEY={{ langfuse_init_project_public_key }}
LANGFUSE_INIT_PROJECT_SECRET_KEY={{ langfuse_init_project_secret_key }}
LANGFUSE_INIT_USER_EMAIL={{ langfuse_init_user_email }}
LANGFUSE_INIT_USER_NAME={{ langfuse_init_user_name }}
LANGFUSE_INIT_USER_PASSWORD={{ langfuse_init_user_password }}
